@model IEnumerable<UJTUT.Models.Tutor>

@{
    ViewData["Title"] = "admin";
}
<h4>
    Welcome Admin 
</h4>

<h1>Manage Tutor Accounts</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutor_name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor_name)
                </td>

                <td>

                    <a asp-action="Manage" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Add new Tutor profile </h2>

<p>
    <a asp-action="Create">Create Tutor Profile</a>
</p>
